.hero-info__container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 20px;
}

.hero-info__description > div > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-info__img {
  display: flex;
  align-items: flex-start;
  margin: 10px 0 0 0;
}

.hero-info__img>img{
  height: auto;
}

.hero-info__description>div {
  margin: 10px 0 0 0;
  padding: 5px;
  border: 1px solid grey;
}


