<header>
  <nav class="navbar">
    <a href="#">
      <div class="app_logo">
        <div class="app_logo__img">
          <img src="https://cdn.imgbin.com/18/17/14/hero-image-hero-logo-cartoon-pwTkCwKJ.jpg" alt="лого сайта"/>
        </div>
        <h1>
          Heroes App
        </h1>
      </div>
    </a>

    <div *ngIf="auth.isAuthenticated()"
         class="header_menu">
      <ul>
        <li>
          <a [routerLink]="[routes.heroesRoot.path]">
            Home
          </a>
        </li>
        <li>
          <a [routerLink]="[routes.userInfo.fullpath ,routes.userHeroList.path]">
            User Info
          </a>
        </li>
        <li>
          <a (click)="logout()">Выйти</a>
        </li>
        <li>
          <a>
            <div class="hero_log__img">
              <img src="https://clck.ru/bNJhs" alt="hero_img">
            </div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
