<header>
  <nav class="navbar">

    <div class="app_logo">
      <div class="app_logo__img">
        <img src="https://cdn.imgbin.com/18/17/14/hero-image-hero-logo-cartoon-pwTkCwKJ.jpg" alt="лого сайта"/>
      </div>
      <h1>
        <a>Heroes App</a>
      </h1>
    </div>

    <div class="header_menu">
      <ul>
        <li>
          <a>
            Home
          </a>
        </li>
        <li>
          <a>
            User Info
          </a>
        </li>
        <li>
          <a>Выйти</a>
        </li>
        <li>
          <a>
            <div class="hero_log__img">
              <img src="https://clck.ru/bNJhs" alt="hero_img">
            </div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
