<div class="modal__container"
     [ngClass]="{show: toggleModal}">
  <div class="modal">
    <span class="modal__result">
      <h1>YOU {{ battleResult }}</h1>
    </span>
    <button class="modal btn"
            (click)="closeModal()">
      Close
    </button>
  </div>
</div>
<div class="battle__container">
  <div class="battle__content">
    <div class="battle__hero">
      <div class="battle__hero-img">
        <img [src]="hero.image?.url" alt="hero">
      </div>
      <div class="battle__hero-description">
        <ul>
          <li><h2>{{hero?.name}}</h2></li>
          <li>Combat: {{hero.powerstats?.combat}}</li>
          <li>Durability: {{hero.powerstats?.durability}}</li>
          <li>Intelligence: {{hero.powerstats?.intelligence}}</li>
          <li>Power: {{hero.powerstats?.power}}</li>
          <li>Speed: {{hero.powerstats?.speed}}</li>
          <li>Strength: {{hero.powerstats?.strength}}</li>
        </ul>
      </div>
    </div>

    <div class="battle__control">

      <div class="battle__field">
        <div class="battle__hero-name">
          <h2>{{hero?.name}}</h2>
        </div>

        <div class="battle__vs">
          <h2>VS</h2>
        </div>

        <div class="battle__start">
          <button class="battle__start btn"
                  (click)="fight()">
            FIGHT
          </button>
        </div>

        <div class="battle__opponent-name">
          <h2>{{opponent?.name}}</h2>
        </div>
      </div>

      <div class="battle__power-ups">
        <div *ngIf="selectPowerUp"
             class="battle__power-up__item"
             [ngClass]="{active: selectPowerUp.active}">
          <div class="battle__power-up__image">
            <img [src]="selectPowerUp.img" alt="power-up">
          </div>
          <div class="battle__power-up__description">
            <span><h3>{{ selectPowerUp.name }}</h3></span>
            <span><h4>{{ selectPowerUp.description }}</h4></span>
          </div>
        </div>

        <form [formGroup]="form"
              class="battle__power-ups__form">
          <p>
            <select formControlName="select">
              <option [ngValue]="null" disabled>Select PowerUp</option>
              <option *ngFor="let powerUp of powerUps"
                      [ngValue]="powerUp">
                {{powerUp.name}}
              </option>
            </select>
            <button class="btn"
                    (click)="chooseUp()">
              Choose
            </button>
          </p>
        </form>
      </div>
  </div>

    <div class="battle opponent">
      <div class="battle__opponent-img">
        <img [src]="opponent.image?.url" alt="opponent">
      </div>
      <div class="battle__opponent-description">
        <ul>
          <li><h2>{{opponent?.name}}</h2></li>
          <li>Combat: {{opponent.powerstats?.combat}}</li>
          <li>Durability: {{opponent.powerstats?.durability}}</li>
          <li>Intelligence: {{opponent.powerstats?.intelligence}}</li>
          <li>Power: {{opponent.powerstats?.power}}</li>
          <li>Speed: {{opponent.powerstats?.speed}}</li>
          <li>Strength: {{opponent.powerstats?.strength}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>


