<div class="user-info__container">
  <div class="user-info__content">

    <div class="user-info__sidebar">
      <button class="user-info__sidebar btn"
              routerLinkActive="active">
        <a [routerLink]="[routes.userInfo.fullpath ,routes.userHeroList.path]">
          Heroes List
        </a>
      </button>
      <button class="user-info__sidebar btn"
              routerLinkActive="active">
        <a [routerLink]="[routes.userInfo.fullpath ,routes.userHistory.path]">
          History
        </a>
      </button>
      <button class="user-info__sidebar btn"
              routerLinkActive="active">
        <a [routerLink]="[routes.userInfo.fullpath ,routes.userPowerUps.path]">
          Power Ups
        </a>
      </button>
    </div>

    <div class="user-info__page">
      <div class="user-info__page container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
