<div class="container-select">

  <div class="alphabet-search">
    <button class="alphabet-search__first"
            (click)="alphabetToggle()">
      A
    </button>
    <div *ngIf="alphabetView"
         class="alphabet-search__list">
      <button *ngFor="let char of alphabet"
              class="alphabet-search__rest"
              (click)="selectChar(char)">
        {{ char }}
      </button>
    </div>
  </div>

  <div class="main">
    <form [formGroup]="form" class="form-search">
      <div class="form-control"
           [ngClass]="{invalid: checkValid(searchFieldEnum.search)}">
        <label for="search_panel">Choose your fighter</label>
        <input type="text" id="search_panel" [formControlName]="searchFieldEnum.search">
        <div *ngIf="checkValid(searchFieldEnum.search)"
             class="validation">
          <small *ngIf="form.get(searchFieldEnum.search)?.errors?.pattern">
            Field allows only english letters
          </small>
        </div>
      </div>
      <div class="form-search__chip">
      <span class="form-search__recent"
            (click)="toggleDisplayRecent()">
        Recent search
      </span>
        <small *ngIf="recentView">
          {{ searchList }}
        </small>
      </div>
      <br>
      <hr>
      <div class="result">
        Results: {{ heroes.length }}
      </div>
    </form>

    <div class="card-hero">
      <div class="card-hero__content">
        <div *ngFor="let hero of heroes"
             class="card-hero__item">
          <div class="card-hero__img">
            <img [src]="hero.image" alt="hero">
            <button class="card-hero__select-btn"
                    (click)="selectHero($event, hero.id)">
              Select
            </button>
          </div>
          <div class="card-hero__description">
            <ul>
              <li><h2>{{hero.name}}</h2></li>
              <li>Combat: {{hero.powerstats?.combat}}</li>
              <li>Durability: {{hero.powerstats?.durability}}</li>
              <li>Intelligence: {{hero.powerstats?.intelligence}}</li>
              <li>Power: {{hero.powerstats?.power}}</li>
              <li>Speed: {{hero.powerstats?.speed}}</li>
              <li>Strength: {{hero.powerstats?.strength}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
